<div class="row pt20">
  <div class="col order-last">
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">User Profile</h5>
        <p><span class="txt-user-profile">Firstname:</span><span>{{user?.first_name}}</span> </p>
        <p><span class="txt-user-profile">Lastname:</span><span>{{user?.last_name}}</span></p>
        <p><span class="txt-user-profile">Email:</span><span>{{user?.email}}</span></p>
        <p><span class="txt-user-profile">Gender:</span><span>{{user?.gender}}</span></p>
        <p><span class="txt-user-profile">Role:</span><span>{{user?.role}}</span></p>
      </div>
    </div>
  </div>
  <div class="col order-first">
  </div>
</div>
