<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav mr-auto" *ngIf="loggedIn">
    <a class="nav-item nav-link" routerLink="/home">Home</a>
    <a *ngIf="isUser(loggedInUser)" class="nav-item nav-link" routerLink="/leaves">Leaves</a>
    <a *ngIf="isHr(loggedInUser)" class="nav-item nav-link" routerLink="/users">Users</a>
    <a *ngIf="isHr(loggedInUser) || isManager(loggedInUser)" class="nav-item nav-link" routerLink="/requests">Requests</a>
    <a class="nav-item nav-link" style="cursor: pointer" (click)="logOut()">Log Out</a>
  </div>
</nav>
